* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100vw; 
  overflow: hidden;
}

.bodydiv{
  position: fixed;
  height: 100%;
  width: 100%;
overflow: hidden;

}


a{
  -webkit-tap-highlight-color: transparent;

}




.mainTitle {
  /* width: 100vw; */
  /* height: 30vh; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  padding: 10% 0; 
  
}
  .mainTitleText {
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-weight: 200;
    font-size: 600%;
    text-transform: uppercase;     
    letter-spacing: 15px;
    padding-bottom: 10px;

  
  }


.siteEntryButton {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 160%;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 2px solid white; 
 letter-spacing: 5px;

}

#menu_background {
  position: absolute;
  top: -50%;
  left: -50%;
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 2;
  transition: all 0.3s ease-in; }






.menu_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  display: block;
  width: 50%;
  text-align: center;
  z-index: 3; 
transition: all 0.3s;

}
  
li a{
  font-family:  'Montserrat', sans-serif;
text-decoration: none;
color: #00579c;
height: 50px;
display: inline-block;
width: 260px;
padding: 15px ;
font-size: 18px; 
 transition: all 0.3s;
border-bottom : 1px solid #00579c;
}

ul, li, a{
  transition: all 0.3s;
}


.menu_li+ul{
  height: 0;
}
.menu_li+ul>li{
  height: 0;
}

.menu_li+ul>li>a{
  height: 0;
  width: 0;
  font-size: 0;
  border:none;
}

.menu_li:hover + ul>li>a{
  height: 50px;
  width: 260px;
  font-size: 18px;
border-bottom : 1px solid #00579c;
}

.menu_li+ul>li>a:hover{
  height: 50px;
  width: 260px;
  font-size: 18px; 
border-bottom : 1px solid #00579c;
}

.menu_li:hover + ul{
  height: 50px;

}

.menu_li+ul:hover{
  height: 50px;
}




a:hover{
  background-color: #00579c;
  color: whitesmoke;
}

.menu_escape a:hover{
  background-color: transparent;
}




.menu_escape {
  position: absolute;
  top: 30%;
  left: 70%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  text-align: center; 
  box-shadow: -5px 5px 10px 1px rgba(0,0,0,0.3);


}
  .menu_escape a {
color:#00579c;
    text-decoration: none;
    font-size: 50px; }




    @media screen and (max-width: 600px) {
 
      .mainTitleText {
        font-size: 400%;
        }

        .siteEntryButton {
          font-size: 100%;
         }

  
    }

